<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <title>Inventory Dashboard</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="topbar">
            <img src="../static/logo.png">
            <a class="active" href="#home">Home</a>
            <a class="active" href="https://ticket.io">Ticket System</a>
            <a class="active" href="https://www.google.com">Company Homepage</a>
            <a class="active" href="/inventory">Database Interface</a>
        </div>
        <form class="box" action="index.html" method="post">
            <h1>Enter Barcode</h1>
            <div><input type="text" name=""></div>
            <div><input type="button" name="" value="QUERY"></div>
        </form>
        <footer class="impress">
            <h2>Impress</h2>
                <a>Support</a>
                <a>Contact</a>
                <a>Contact</a>
        </footer>
    </body>
</html>