<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Dashboard</title>
    <link rel="stylesheet" href="../static/inventory.css">
</head>

<body>
    <form class="box" action="/" method="post">
        <h1>Enter Barcode</h1>
        <div><input type="text" name="code"></div>
        <div><input type="submit" name="" value="QUERY"></div>
    </form>
</body>

</html>
